<footer class="app-footer text-xs-center" [class.app-footer--with-posts]="isPostPage">
  <div class="container-fluid">

    <!-- Footer social links -->
    <ul class="app-footer__social list-unstyled">
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="https://uk.linkedin.com/in/tomchristian1
">LinkedIn</a></li>
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="https://twitter.com/tomchristian91">Twitter</a></li>
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="https://github.com/tctc91">Github</a></li>
    </ul>

    <!-- Footer credits -->
    <ul class="app-footer__credits list-unstyled m-b-0">
      <li class="app-footer__item app-footer__item--credit list-inline-item">
				<a class="app-footer__link" href="https://github.com/tctc91/angular2-wordpress-portfolio">Built with Angular 2 <i class="icon-github app-footer__icon"></i></a>
			</li>
    </ul>

  </div>
</footer>
