<footer class="app-footer text-xs-center">
  <div class="container-fluid">

    <!-- Footer portfolio/cv buttons -->
    <tc-calltoactions></tc-calltoactions>

    <!-- Footer social links -->
    <ul class="app-footer__social list-unstyled">
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="#">LinkedIn</a></li>
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="#">Twitter</a></li>
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="#">Github</a></li>
      <li class="app-footer__item app-footer__item--social list-inline-item"><a class="app-footer__link" href="#">Contact me</a></li>
    </ul>

    <!-- Footer credits -->
    <ul class="app-footer__credits list-unstyled">
      <li class="app-footer__item app-footer__item--credit list-inline-item"><a class="app-footer__link" href="#">Built with Angular 2</a></li>
      <li class="app-footer__item app-footer__item--credit list-inline-item"><a class="app-footer__link" href="#">View the source</a></li>
    </ul>

  </div>
</footer>
