/*--------------------------------------------------------------*/
/*  Angular2 Wordpress Portfolio
/*  http://tomchristian.co.uk
/*
/*  Version: 1.0.0
/*--------------------------------------------------------------*/

/* :: TABLE OF CONTENTS ::
/*--------------------------------------------------------------*/

@import "utilities/_mixins";
@import "variables";
@import "bootstrap";

/*  Imports
/*--------------------------------------------------------------*/

@import "shared/shared";
@import "fonts/fonts";
// @import "utilities/utilities";


body {
	min-width: 320px;
}

img {
	min-width: 100%;
}

.app-loader {
	color: pink;
}

/* The link is dynamically inserted and therefore not stylable within the component */
.app-header__subtitle a {
	color: $brand-primary;
}

.defer-image > img {
	display: block;
	min-width: 100%;
	max-width: 100%;
}

.defer-image {
	position: relative;
	background: #EEE;
}

.image-ratio\:4x3   > div { padding-top: 75%; }
