@import "../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";


/*  Variables */
/*--------------------------------------------------------------*/

$xs-header-scrolled-height:		70px;
$xs-header-minimal-height:		7rem;
$header-bg-color:							#1f4295;
$header-scrolled-bg-color:		rgba(5, 12, 28, 0.97);
$header-bg-gradient:					linear-gradient(to bottom, darken($header-bg-color, 35%) 0%, $header-bg-color 100%);
$header-logo-min-width:				150px;
$header-logo-max-width:				200px;


/*  Styles */
/*--------------------------------------------------------------*/

:host {
	display: block;
}

.app-header {
	background: $header-bg-gradient;

	&__inner {
		position: relative;
	}

	/* Giant homepage header */
	&--epic {
		box-sizing: content-box;
    padding-top: 100px;
    padding-bottom: 100px;
		text-align: center;
	}

	/* Minimal header on post pages */
	&:not(.app-header--epic) {
		width: 100%;
		min-width: 320px;
		max-height: $xs-header-minimal-height;
		position: fixed;
		top: 0;
		z-index: 10;
		padding: .5rem 0;
		text-align: center;

		&:not(.app-header--scrolled) {
			background: transparent; /* Apply transparent bg except when the scrolled header is active */
		}

		/* Hide elements not needed on minimal header */
		.app-header__logo {
			display: none;
		}
	}

	/* Minimal header when scrolled */
	&--scrolled:not(.app-header--epic) {
		max-height: $xs-header-scrolled-height;
		padding: 0 !important;
		background: $header-scrolled-bg-color;
		text-align: left;
		transition: background 120ms ease-in;
	}

	a {
		display: inline-block;
		color: white;
		text-decoration: none;

		.app-header:not(.app-header--epic) & {
			display: inline-block;
		}
	}

	&__logo {
		min-width: $header-logo-min-width;
		max-width: $header-logo-max-width;
		min-height: $header-logo-min-width;
		background: rgba(black, 0.5);
		border-radius: 100%;
	}

	&__title {
		color: white;

		.app-header:not(.app-header--epic) & {
			display: inline-block;
			margin-right: $spacer-x;
			font-size: 2.3rem;
			font-weight: 300;
			transition: font-size 120ms ease-in;
		}

		.app-header--scrolled:not(.app-header--epic) & {
			height: 70px;
			line-height: 70px;
			font-size: 2.1rem;
		}

		.app-header:not(.app-header--scrolled) & {
			padding-top: $spacer * 3;
		}
	}

	&__subtitle {
		opacity: 1;
		margin-bottom: 0;
		color: rgba(white, 0.7);
		font-weight: 100;
		white-space: nowrap;
		transition: opacity 120ms ease-in;

		.app-header--epic & {
			margin-bottom: $spacer-x * 10;
		}

		.app-header--scrolled & {
			opacity: 0;
		}

		.app-header:not(.app-header--epic) & {
			display: inline-block;
			vertical-align: middle;
	    padding-bottom: 3px;
	    font-size: 1rem;
		}
	}

	/deep/ &__author-site {
		display: block;

		.app-header:not(.app-header--epic) & {
			display: none;
		}
	}
}

/* Add spacing to post header banners to cater for fixed header positioning */
/deep/ .post__header {
	padding-top: $xs-header-minimal-height;
	background: $header-bg-gradient;
}


/*  Media Queries */
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
	.app-header:not(.app-header--epic) {
		text-align: left;
	}
}
