@import "../../../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

$post-bg-color: 									white;


:host {
	display: block;
	background: $post-bg-color;
}

.post {
	&__header {
    position: relative;
		min-height: 400px;
		width: 100%;
	}

	&__title {
		width: 320px;
		margin: 0 auto;
		padding-top: 5rem;
		padding-bottom: 5rem;
		color: white;

		/deep/ p {
			margin: 0; /* WP API outputs title in p tags :/ */
		}
	}

	&__hero {
		display: block;
		width: 100%;
		min-height: 550px;
		background: url(assets/images/hero-banner@2x.png) no-repeat;
		background-size: cover;
		margin: 0 auto;
	}
	// 
	// &__slope {
	// 	display: block;
	// 	min-height: 117px;
	// 	background: url(assets/images/slope-right.svg) no-repeat;
	// 	margin: 0 auto;
	// 	position: absolute;
	// 	bottom: 0;
	// 	left: 0;
	// 	right: 0;
	// 	width: 100%;
  //   background-size: 100%;
  //   background-position: 0px 4px;
	// }
}








/* REFACTORRRRRR */
.post__pagination {
	font-size: $font-size-base;

	.pagination__direction {
		color: $gray-dark;
		padding-left: 6px;
		transition: 120ms;
		cursor: pointer;

		&:hover, &:focus, &:active {
			color: $brand-primary;

			.icon-close {
				background-color: $brand-primary;
			}
		}

		span, [class^="icon"] {
			vertical-align: middle;
		}
	}
}

.icon-close {
	background: #373A3C;
	border-radius: 18px;
	height: 18px;
	width: 18px;
	line-height: 12px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	color: white;
	transition: 120ms;
}

@include media-breakpoint-up(lg) {
	.post__pagination {
		margin-top: -7px;
		float: right;
		font-size: 28px;

		.pagination__direction {
			color: $gray-dark;
		}
	}

	.icon-close {
		border-radius: 28px;
		height: 28px;
		width: 28px;
		line-height: 18px;
		font-size: 22px;
	}
}



.post__meta {
	display: inline-block;
	font-size: $font-size-sm;
}

.post__tags {
	display: inline-block;
}
