@import "../../../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

$posts-bg:											white;

$media-max-width:								16rem;

.posts {
	width: 100%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: $posts-bg;
}