@import "../../../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

$posts-bg:											white;
$xs-posts-inner-padding:				$spacer * 3;
$sm-posts-inner-padding:				$spacer $spacer $spacer 0;
$md-posts-inner-padding:				$spacer * 2;

$media-max-width:								16rem;

.posts {
	width: 100%;
	margin-bottom: $spacer * 3;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background: $posts-bg;

	&__details {
		position: relative;
		padding: $xs-posts-inner-padding;
	}

	&__title {
		color: $gray-dark;
		font-weight: normal;
		white-space: nowrap;
	}

	&__desc {
		font-weight: 200;
		font-size: $font-size-sm;
	}

	&__overlay {
		display: none;
	}
}

@include media-breakpoint-up(sm) {
	.posts {
		margin-bottom: $spacer * 5;

		&__details {
	    position: absolute;
	    top: 50%;
	    right: 0;
	    transform: translateY(-50%);
			max-width: 60%;
			padding: $sm-posts-inner-padding;
		}
	}
}

@include media-breakpoint-up(md) {
	.posts {
		&__details {
			max-width: 50%;
			padding: $md-posts-inner-padding;
		}

		&__overlay {
			display: block;
			position: absolute;
			z-index: 1;
			height: 100%;
			width: 100%;
			max-width: 50%;
			opacity: 0;
			background: rgba(13, 16, 24, 0.6);
			pointer-events: none;
			transition: opacity 100ms ease-in;

			.posts:hover & {
				opacity: 1;
			}
		}

		&__overlay-title {
			&:before {
				content: "";
				display: block;
				width: 250px;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 200px;
				height: 50px;
				margin-left: -100px;
				z-index: 1;
				margin-top: -25px;
				line-height: 50px;
				text-align: center;
				font-size: 1.2rem;
				color: white;
				content: "View case study";
				z-index: 2;
			}

			&:after {
				content: "";
				position: absolute;
				top: 50%;
				left: 50%;
				width: 200px;
				height: 50px;
				margin-top: -25px;
				margin-left: -100px;
				background: #000000;
				color: white;
				transform: skewX(-10deg);
			}
		}
	}
}

@media screen and (min-width: map-get($grid-breakpoints, 'lg')) and (max-width: map-get($grid-breakpoints, 'xl') + 200) {
	.posts {
		&__title {
			font-size: 1.3rem;
		}

		&__desc {
			font-size: 0.95rem;
		}
	}
}
