<div class="posts" [attr.id]="'post-'+post.id" *ngIf="post" (click)="loadPost(post.slug, post.content.protected)">

	<div class="posts__overlay">
		<span class="posts__overlay-title"></span>
	</div>

	<tc-media title="{{post.title.rendered}}" [id]="post.featured_media"></tc-media>

	<div class="posts__details">
		<div class="posts__details-inner">
			<h2 class="posts__title p-b-1" innerHTML="{{post.title.rendered}}"></h2>
			<p class="posts__desc p-m-0" innerHTML="{{post.excerpt.rendered}}"></p>
		</div>
	</div>

</div>
