<tc-spinner [isProcessing]="isProcessing"></tc-spinner>

<div class="post text-xs-center text-lg-left">
	<header class="post__header" [attr.data-post-slug]="post.slug" *ngIf="post && !isProcessing">
		<div class="post__header-inner text-xs-center">
			<h2 class="post__title m-b-0 container" [innerHTML]="post.excerpt.rendered"></h2>
			<img class="post__hero" src="assets/images/projects/{{post.slug}}/hero-banner.png" srcset="assets/images/projects/{{post.slug}}/hero-banner@2x.png 2x" />
		</div>
	</header>

	<form class="post__password form-inline" #f="ngForm" (ngSubmit)="setPassword()" *ngIf="hasPassword" novalidate>
		<div class="post__password-inner">
			<h3 class="post__password-title">Sorry, this isn't public. Request access <a href="#">here <i class="icon-twitter"></i></a></h3>
			<input class="post__password-input form-control" type="password" name="password" [(ngModel)]="password" placeholder="Enter a password..." required />
			<button class="post__password-submit btn btn-lg btn-primary btn-primary-outline" type="submit">Submit</button>
		</div>
	</form>

	<div class="post__content">
		<div #renderedPost></div>
	</div>
</div>
