@import "../../../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";


/*  Variables */
/*--------------------------------------------------------------*/

$post-bg-color: 									#f3f5f6;
$post-slope-height:								100px;
$post-slope-angle:								3deg;


/*  Styles */
/*--------------------------------------------------------------*/

:host {
	display: block;
	min-height: 1000px;
	background: $post-bg-color;
}

.post {
	&__header {
		width: 100%;
		position: relative;
	}

	&__header-inner {
		[data-post-slug="music-library-webapp"] &,
		[data-post-slug="music-library-webapp-lite"] & {
			@include make-container();
			max-width: 1140px;
		}
	}

	&__title {
		max-width: 28rem;
		margin: 0 auto;
		padding-top: 2rem;
		padding-bottom: 3rem;
		color: white;

		/deep/ p {
			margin: 0; /* WP API outputs title in p tags :/ */
		}
	}

	&__hero {
		width: 100%;
	}

	&__content {
    min-height: 250px;
		overflow: hidden;
		position: relative;
		z-index: 2;
		background: $post-bg-color;
	}
}






/* REFACTORRRRRR */
.post__pagination {
	font-size: $font-size-base;

	.pagination__direction {
		padding-left: 6px;
		color: $gray-dark;
		transition: 120ms;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			color: $brand-primary;

			.icon-close {
				background-color: $brand-primary;
			}
		}

		span,
		[class^="icon"] {
			vertical-align: middle;
		}
	}
}

.icon-close {
	display: inline-block;
	width: 18px;
	height: 18px;
	line-height: 12px;
	background: #373a3c;
	border-radius: 18px;
	font-size: 16px;
	color: white;
	text-align: center;
	transition: 120ms;
}


/*  Media Queries */
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
	.post {
		&__title {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}
}

@include media-breakpoint-up(lg) {
	.post__pagination {
		margin-top: -7px;
		float: right;
		font-size: 28px;

		.pagination__direction {
			color: $gray-dark;
		}
	}

	.icon-close {
		width: 28px;
		height: 28px;
		line-height: 18px;
		border-radius: 28px;
		font-size: 22px;
	}
}

.post__meta {
	display: inline-block;
	font-size: $font-size-sm;
}
