/* Brand Colors */
$brand-primary:             #475c9d !default;
$brand-primary-light:       #497aec !default;
$brand-success:             #3dbfa0 !default;
$brand-info:                #00c3e2 !default;
$brand-warning:             #51479d !default;
$brand-danger:              #fe626d !default;
$brand-dark:								#121619;
