/*  Variables
/*--------------------------------------------------------------*/


/* Brand Colors */
$brand-primary:             #497aec !default;
$brand-success:             #3dbfa0 !default;
$brand-info:                #00c3e2 !default;
$brand-warning:             #7766c3 !default;
$brand-danger:              #fe626d !default;

$brand-dark:								#121619;

/* ANW Rebrand Colors */
// $anw-brand-1:                   $brand-primary !default;                // REBRAND Yellow
// $anw-brand-2:                   #ff4266 !default;                       // REBRAND Pink CTA (was Magenta)
// $anw-brand-3:                   #62d2c2 !default;                       // REBRAND Teal
// $anw-brand-4:                   #181c21 !default;                       // REBRAND Navy Blue
// $anw-brand-5:                   $brand-success !default;                // REBRAND Yay Green
// $anw-brand-6:                   #3a87bc !default;                       // REBRAND Link Blue
// $anw-brand-7:                   $brand-warning !default;                // REBRAND Listen Up Amber
// $anw-brand-8:                   #c78cff !default;                       // REBRAND Light Purple
// $anw-brand-9:                   #0c223f !default;                       // REBRAND Navy Blue???
// $anw-brand-10:                  $brand-danger !default;                 // REBRAND Shux Red


// /* ANW Rebrand Tints */
// $anw-brand-tints:
//                             (
//                                 brand1: ( 10:#fffae5, 20:#fff5cc, 30:#ffefb2, 40:#ffea99, 50:#ffe580, 60:#ffe066, 70:#ffdb4c, 80:#ffd533, 90:#ffd019, 100: $anw-brand-1 ),
//                                 brand2: ( 10:#ffecf0, 20:#ffd9e0, 30:#ffc6d1, 40:#ffb3c2, 50:#ffa0b2, 60:#ff8ea3, 70:#ff7b94, 80:#ff4266, 90:#ff4266, 100: $anw-brand-2 ),
//                                 brand3: ( 10:#effaf9, 20:#e0f6f3, 30:#d0f1ed, 40:#c0ede7, 50:#b0e8e0, 60:#a1e4da, 70:#91dfd4, 80:#81dbce, 90:#72d6c8, 100: $anw-brand-3 ),
//                                 brand4: ( 10:#e8e8e9, 20:#d1d2d3, 30:#babbbc, 40:#a3a4a6, 50:#8b8d90, 60:#74777a, 70:#5d6064, 80:#46494d, 90:#2f3337, 100: #181c21 ),
//                                 brand5: ( 10:#e8e8e9, 20:#d1d2d3, 30:#babbbc, 40:#a3a4a6, 50:#8b8d90, 60:#74777a, 70:#5d6064, 80:#46494d, 90:#2f3337, 100: #31c538 ),
//                                 brand6: ( 10:#ebf3f8, 20:#d8e7f2, 30:#c4dbeb, 40:#b0cfe4, 50:#9cc3dd, 60:#89b7d7, 70:#75abd0, 80:#619fc9, 90:#4e93c3, 100: #3a87bc ),
//                                 brand7: ( 10:#e8e8e9, 20:#d1d2d3, 30:#babbbc, 40:#a3a4a6, 50:#8b8d90, 60:#74777a, 70:#5d6064, 80:#46494d, 90:#2f3337, 100: #f0956e ),
//                                 brand8: ( 10:#f9f3ff, 20:#f4e8ff, 30:#eedcff, 40:#e9d1ff, 50:#e3c5ff, 60:#ddbaff, 70:#d8aeff, 80:#d2a3ff, 90:#cd97ff, 100: $anw-brand-8 ),
//                                 brand9: ( 10:#e7e9ec, 20:#ced3d9, 30:#b6bdc5, 40:#9ea7b2, 50:#85909f, 60:#6d7a8c, 70:#556479, 80:#3d4e65, 90:#243852, 100: #0c223f ),
//                                 brand10: ( 10:#e7e9ec, 20:#ced3d9, 30:#b6bdc5, 40:#9ea7b2, 50:#85909f, 60:#6d7a8c, 70:#556479, 80:#3d4e65, 90:#243852, 100: #d81946 ),
//                             );


// /* ANW Rebrand Light Greys */
// $anw-brand-light-grey-1:        #f4f3f4 !default;                       // REBRAND side bar bg + search bar bg
// $anw-brand-light-grey-2:        #f8f7f7 !default;                       // REBRAND
// $anw-brand-light-grey-3:        #f9f8f8 !default;                       // REBRAND
// $anw-brand-light-grey-4:        #dcdbdb !default;                       // REBRAND mobile borders


// /* ANW Rebrand Mid Greys */
// $anw-brand-mid-grey-1:          #c5bfc1 !default;                       // REBRAND side bar border
// $anw-brand-mid-grey-2:          #c2bdbd !default;                       // REBRAND
// $anw-brand-mid-grey-3:          #bab4b2 !default;                       // REBRAND
// $anw-brand-mid-grey-4:          #b1abaa !default;                       // REBRAND
