/*  Variables
/*--------------------------------------------------------------*/


/* Brand Colors */
$brand-primary:             #497aec !default;
$brand-success:             #3dbfa0 !default;
$brand-info:                #00c3e2 !default;
$brand-warning:             #7766c3 !default;
$brand-danger:              #fe626d !default;
$brand-dark:								#121619;
