/*  Variables
/*--------------------------------------------------------------*/

$xs-panel-padding:                            $spacer * 5;
$xs-panel-padding-lg:                         $xs-panel-padding * 1.5;

$xs-panel-title-margin-top:                   $spacer * 2;
$xs-panel-title-margin-bottom:                $spacer * 3;


/*  Styles
/*--------------------------------------------------------------*/

.panel {
  padding-top: $xs-panel-padding;
  padding-bottom: $xs-panel-padding;

  &--lg {
    padding-top: $xs-panel-padding-lg;
    padding-bottom: $xs-panel-padding-lg;
  }

  padding-top: $xs-panel-padding;
  padding-bottom: $xs-panel-padding;

  &--light { background: white; }
  &--dark { background: black; }

  &__heading {
    .panel--dark & { color: white; }
  }

  &__title {
    margin-top: $xs-panel-title-margin-top;
    margin-bottom: $xs-panel-title-margin-bottom;
  }

  &__desc {
    .panel--dark & { color: rgba(255,255,255, 0.6); }
  }
}


/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {}
