/*  Variables
/*--------------------------------------------------------------*/

$xs-panel-padding:                            $spacer * 7;

$xs-panel-title-margin-bottom:                $spacer * 3;


/*  Styles
/*--------------------------------------------------------------*/

.panel {
  padding-bottom: $xs-panel-padding;

  &:not(:first-child) {
    padding-top: $xs-panel-padding;
  }

  &--light { background: white; }
  &--dark { background: #181c21; }
  &--purple { background: $brand-warning; }

  &__heading {
    .panel--dark & { color: white; }
  }

  &__title {
    margin-bottom: $xs-panel-title-margin-bottom;
  }

  &__desc {
    .panel--dark & { color: rgba(white, 0.6); }
  }
}


/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
  /**/
}
