$icomoon-font-path: "fonts" !default;

$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-linkedin: "\f0e1";
$icon-codepen: "\f1cb";
$icon-facebook-official: "\f230";
$icon-medium: "\f23a";
$icon-chevron-with-circle-left: "\e900";
$icon-chevron-with-circle-right: "\e901";
$icon-cross: "\e902";

