$icomoon-font-path: "fonts" !default;

$icon-linkedin-square: "\f08c";
$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-instagram: "\f16d";
$icon-chevron-with-circle-left: "\e900";
$icon-chevron-with-circle-right: "\e901";
$icon-cross: "\e902";

