/*  Variables
/*--------------------------------------------------------------*/

$xs-research-img-size:              110px;

$xs-story-border-style1:            $brand-warning;
$xs-story-border-style2:            $brand-info;

/*  Styles
/*--------------------------------------------------------------*/

.s-research {
  &__item {
    margin-bottom: $spacer * 5;
  }

  &__img {
    min-width: $xs-research-img-size;
    max-width: $xs-research-img-size;
    min-height: $xs-research-img-size;
    max-height: $xs-research-img-size;
  }

  &__title {
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 2;
  }

	&__desc {
		max-width: 30rem;
		margin: 0 auto;
	}

  &__agile {
		margin-top: $xs-panel-padding / 2;
    padding-top: $xs-panel-padding;
    border-top: 1px solid rgba(white, 0.2);
  }

  &__story-container {
    margin-top: $spacer * 5;
  }

  &__story-title {
    margin-bottom: $spacer;
  }

  &__stories {
    padding: $spacer * 3;
    border: 1px solid $xs-story-border-style1;

    &:not(:last-child) {
      margin-bottom: $spacer * 3;
    }

    &--style1 { border-color: $xs-story-border-style1; }
    &--style2 { border-color: $xs-story-border-style2; }
  }

  &__story {
    &:not(:last-child) {
      margin-bottom: $spacer / 2;
    }
  }

	&__story-column {
		margin-bottom: $spacer * 3;
	}
}


/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(md) {
	.s-research {
		padding-bottom: 0;

		&__agile {
			padding-top: 0;
		}

		&__agile-info {
			padding-top: 3.95rem;
		}

		&__story-container {
			margin-top: 0;
	    padding-top: $xs-panel-padding / 2;
			padding-bottom: $xs-panel-padding / 2;
	    border-left: 1px solid rgba(white, 0.2);
			font-size: 14px;
		}

		&__story-column {
			width: 40%;
			float: left;
			margin-left: $spacer * 3;
		}

		&__stories {
			&:not(:last-child) {
				margin-bottom: $spacer * 3;
			}
		}

		&__canvas {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}
}
