/*  Variables
/*--------------------------------------------------------------*/

$xs-research-img-size:              150px;

$xs-story-border-style1:            $brand-warning;
$xs-story-border-style2:            $brand-info;

/*  Styles
/*--------------------------------------------------------------*/

.s-research {
  &__item {
    margin-bottom: $spacer * 5;
  }

  &__img {
    min-width: $xs-research-img-size;
    max-width: $xs-research-img-size;
    min-height: $xs-research-img-size;
    max-height: $xs-research-img-size;
  }

  &__title {
    margin-top: $spacer * 3;
    margin-bottom: $spacer * 2;
  }

  &__agile {
		margin-top: $xs-panel-padding / 2;
    padding-top: $xs-panel-padding;
    border-top: 1px solid rgba(white, 0.2);
  }

  &__story-container {
    margin-top: $spacer * 5;
  }

  &__story-title {
    margin-bottom: $spacer;
  }

  &__stories {
    padding: $spacer * 3;
    border: 1px solid $xs-story-border-style1;

    &:not(:last-child) {
      margin-bottom: $spacer * 3;
    }

    &--style1 { border-color: $xs-story-border-style1; }
    &--style2 { border-color: $xs-story-border-style2; }
  }

  &__story {
    &:not(:last-child) {
      margin-bottom: $spacer / 2;
    }
  }
}


/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
/**/
}
