/*  Variables
/*--------------------------------------------------------------*/

/*  Styles
/*--------------------------------------------------------------*/

.s-outcome {
	&__section {
		&:not(:first-child) {
    	margin-top: $grid-gutter-width;
		}
	}

  &__items {
    margin-top: $spacer * 5;
    margin-bottom: $spacer * 2;
  }

	&__item {
		margin-top: $grid-gutter-width / 2;
	}

  &__image {
		width: 100%;
    max-width: 100%;
		min-width: initial;
		border-radius: 0 0 3px 3px;

		&--home {
			max-width: 850px;
		}
  }

	&__projects-img {
		width: 500px;
		height: 310px;
		background: url(/assets/images/outcome/anw/outcome-projects@2x.png) no-repeat;
		background-size: 100%;
	}

	&__highlights {
		margin-top: $spacer * 5;
	}

	&__highlight {
		position: relative;
	}

	&__highlight-title {
		color: $brand-success;

		&--success {
			color: $brand-success;
		}

		&--info {
			color: $brand-info;
		}

		&--warning {
			color: $brand-warning;
		}
	}

	&__highlight-desc {
		max-width: 420px;
		margin-right: auto;
		margin-left: auto;
	}
}


/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
	.s-outcome {
		&__projects-img {
			width: 800px;
			height: 530px;
		}
	}
}

@include media-breakpoint-up(md) {
	.s-outcome {
		&__section {
			&:not(:first-child) {
	    	margin-top: $grid-gutter-width;
			}
		}

		&__item {
			margin-top: $grid-gutter-width;
		}

		&__highlight {
			.s-outcome__items--projects & {
				margin-bottom: $spacer * 4;

				&:first-child {
					padding-top: $grid-gutter-width / 2;
				}
			}
		}

		&__image {
			&--projects {
				max-width: 560px;
				float: right;
			}
		}

		&__projects-img {
			height: 670px;
		}
	}
}

@include media-breakpoint-up(lg) {
	.s-outcome {
		&__image {
			&--projects {
				max-width: 60%;
			}
		}

		&__projects-img {
			width: 900px;
		}
	}
}

@include media-breakpoint-up(xl) {
	.s-outcome {
		&__image {
			&--projects {
				max-width: 900px;
			}
		}

		&__projects-img {
			width: 1100px;
		}
	}
}
