/*  Variables
/*--------------------------------------------------------------*/

$xs-panel-contribution-logo-size:						45px;


/*  Styles
/*--------------------------------------------------------------*/

.s-contributions {
  &__item {
		margin-bottom: $spacer * 4;
		padding-left: $xs-panel-contribution-logo-size + 20px;
	}

	&__logo {
		min-width: $xs-panel-contribution-logo-size;
		max-width: $xs-panel-contribution-logo-size;
		position: absolute;
		top: 6px;
		left: 0;
	}
}

/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
  .s-contributions {
    &__item {
			min-height: 76px;
		}
  }
}
