<section class="app-sidebar">
	<div class="container-fluid">
		<div class="row">
			<div class="app-sidebar__content p-x-3 p-y-3">
				<h3 class="app-sidebar__title text-xs-center m-t-2 m-b-3">Recent</h3>
				<ul class="app-sidebar__recent">
					<li *ngFor="let post of sidebarPosts;">
						<a href="{{post.Url}}" class="app-sidebar__item">
							<i class="app-sidebar__icon icon-{{post.Source}}"></i> {{post.Name}}
						</a>
					</li>
				</ul>
			</div>
			<div class="app-sidebar__external-work text-xs-center">
				<div class="container-fluid">
					<div class="row">
						<a class="app-sidebar__external-item col-xs-4" target="_blank" href="https://github.com/tctc91"><i class="app-sidebar__icon app-sidebar__icon--large app-sidebar__icon--github icon-github"></i><span class="sr-only">Github</span></a>
						<a class="app-sidebar__external-item col-xs-4" target="_blank" href="https://medium.com/@tomchristian91"><i class="app-sidebar__icon app-sidebar__icon--large app-sidebar__icon--medium icon-medium"></i><span class="sr-only">Medium</span></a>
						<a class="app-sidebar__external-item col-xs-4" target="_blank" href="https://codepen.io/tctc91"><i class="app-sidebar__icon app-sidebar__icon--large app-sidebar__icon--codepen icon-codepen"></i><span class="sr-only">Codepen</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
