<section class="app-sidebar">
	<div class="container-fluid">
		<div class="row">
			<div class="app-sidebar__content p-x-3 p-y-3">
				<h3 class="app-sidebar__title text-xs-center m-t-2 m-b-3">Recent</h3>
				<ul class="app-sidebar__recent">
					<li><a class="app-sidebar__item" href="#"><i class="app-sidebar__icon icon-github"></i> angular2-spinners</a></li>
					<li><a class="app-sidebar__item" href="#"><i class="app-sidebar__icon icon-codepen"></i> ng2 dynamic content loader</a></li>
					<li><a class="app-sidebar__item" href="#"><i class="app-sidebar__icon icon-medium"></i> sass color palettes</a></li>
					<li><a class="app-sidebar__item" href="#"><i class="app-sidebar__icon icon-github"></i> angular2-wordpress-portfolio</a></li>
					<li><a class="app-sidebar__item" href="#"><i class="app-sidebar__icon icon-codepen"></i> @extending %placeholders</a></li>
					<li><a class="app-sidebar__item" href="#"><i class="app-sidebar__icon icon-github"></i> edd statistics app</a></li>
				</ul>
			</div>
			<div class="app-sidebar__external-work text-xs-center">
				<div class="container-fluid">
					<div class="row">
						<a class="app-sidebar__external-item col-xs-4" href="#"><i class="app-sidebar__icon app-sidebar__icon--large app-sidebar__icon--github icon-github"></i><span class="sr-only">Github</span></a>
						<a class="app-sidebar__external-item col-xs-4" href="#"><i class="app-sidebar__icon app-sidebar__icon--large app-sidebar__icon--medium icon-medium"></i><span class="sr-only">Medium</span></a>
						<a class="app-sidebar__external-item col-xs-4" href="#"><i class="app-sidebar__icon app-sidebar__icon--large app-sidebar__icon--codepen icon-codepen"></i><span class="sr-only">Codepen</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>