<nav class="pagination">
  <a class="pagination__close" title="Return to posts" [routerLink]="['/']">
    <img class="pagination__img pagination__img--close" src="assets/images/case-studies.svg" alt="View case studies" />
    <span class="pagination__title pagination__title--close hidden-md-down">View case studies</span>
  </a>
  <a class="pagination__next" title="" (click)="loadNext($event)" href="#">
    <span class="pagination__title pagination__title--next hidden-md-down">Next case study</span>
    <img class="pagination__img pagination__img--next" src="assets/images/next-case-study.svg" alt="Next case studies" />
  </a>
</nav>
