@import "../../../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

/*  Variables
/*--------------------------------------------------------------*/

$xs-pagination-img-size:              30px;

$lg-pagination-img-size:              30px;


/*  Styles
/*--------------------------------------------------------------*/

:host {
  display: inline-block;
	height: 70px;
	line-height: 70px;
  position: absolute;
  top: 0;
  right: 0;
}

.pagination {
  opacity: 0;
  pointer-events: none;
  transition: 90ms ease-in;

  :host-context(.app-header--scrolled) & {
    opacity: 1;
    pointer-events: initial;
  }

  &__close,
  &__next {
    padding: 1.5rem .8rem;
  }

  &__next {
    padding-right: 0;
  }

  &__img {
		max-width: $xs-pagination-img-size;
		min-width: $xs-pagination-img-size;
    max-height: $xs-pagination-img-size;
    min-height: $xs-pagination-img-size;
  }
}

/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(lg) {
  :host {
    float: right;
		position: static;
  }

  .pagination {
    opacity: 1;
    pointer-events: initial;
		padding: 1.2rem 0;

		:host-context(.app-header--scrolled) & {
			padding: 0;
		}

    &__img {
			max-width: $lg-pagination-img-size;
			min-width: $lg-pagination-img-size;
      max-height: $lg-pagination-img-size;
      min-height: $lg-pagination-img-size;
			vertical-align: middle;
			margin-bottom: 3px;
    }

    &__title {
      color: white;
			font-family: $font-family-serif;
			font-size: 1.1rem;

      .pagination__close:hover &,
      .pagination__next:hover & {
        color: white;
      }

      &--close {
        margin-left: $spacer-x;
      }

      &--next {
        margin-right: $spacer-x;
      }
    }
  }
}
