@import "../../../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

/*  Variables
/*--------------------------------------------------------------*/


/*  Styles
/*--------------------------------------------------------------*/

:host {
  display: inline-block;
  position: absolute;
  top: $spacer * 5;
  right: $spacer * 2;
}


/*  Media Queries
/*--------------------------------------------------------------*/

@include media-breakpoint-up(sm) {
  :host {
    float: right;
  }
}
