/*  Variables
/*--------------------------------------------------------------*/


/*  Styles
/*--------------------------------------------------------------*/

.tag__btn {
    display: inline-block;
    margin-bottom: $spacer;
    padding: ($btn-padding-y / 2) ($btn-padding-x / 1.5);
    color: $gray-light;
    background: $gray-lightest;
    font-family: $font-family-sans-serif;
    font-size: $font-size-xs;
    text-transform: uppercase;
    border: 0;
    border-radius: $spacer * 2;
}