@import "../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

$timeline-path-bg:						#d8dde2;
$timeline-peak-height:				40px;
$timeline-peak-bg:						$brand-primary;
$timeline-peak-pip-size:			10px;


:host {
  display: block;
  position: relative;
}

.timeline {

	&__year {
		&[data-pos="0"] {
			position: absolute;
			top: -#{$timeline-peak-height * 2};
			right: 0;
			left: 0;
			color: white;
			font-size: 1.5rem;
		}

		&:not([data-pos="0"]) {
			position: relative;
			margin: ($spacer * 2) 0 ($spacer * 2);
			padding-left: 6rem;
			font-size: 1.3rem;

			@include media-breakpoint-up(sm) {
				margin: ($spacer * 1) 0 ($spacer * 2);
			}

			@include media-breakpoint-up(md) {
				margin: ($spacer * 4) 0 ($spacer * 3);
			}

			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 10px;
				height: 10px;
				left: 50%;
				margin-left: -5px;
				background: #ffffff;
				border-radius: 50%;
				border: 2px solid #d8dde2;
				top: 50%;
				margin-top: -5px;
			}
		}
	}

	&__path {
		display: block;
		width: 2px;
		height: 100%;
		position: absolute;
		top: 0rem;
		left: 50%;
		margin-left: -1px;
		background: $timeline-path-bg;
	}

}

.home__category {
	&:first-child {
		&:before {
			content: "";
			display: block;
			height: $timeline-peak-height;
			width: 2px;
			position: absolute;
			top: -#{$timeline-peak-height};
			left: 50%;
			margin-left: -1px;
			background: $timeline-peak-bg;
			z-index: 1;
		}

		&:after {
			content: "";
			display: block;
			height: $timeline-peak-pip-size;
			width: $timeline-peak-pip-size;
			position: absolute;
			top: -49px;
			left: 50%;
			margin-left: -#{$timeline-peak-pip-size / 2};
			border: 2px solid $timeline-peak-bg;
			border-radius: 50%;
		}
	}
}