@import "../../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

$timeline-path-bg:						#d8dde2;
$timeline-peak-height:				40px;
$timeline-peak-bg:						$brand-primary;
$timeline-peak-pip-size:			10px;

%timeline-point {
	content: "";
	display: block;
	height: 10px;
	width: 10px;
	position: absolute;
	left: 50%;
	z-index: 1;
	border-radius: 50%;
}

:host {
  display: block;
  position: relative;
}

.timeline {

	&__year {
		/* Current year on timeline */
		&[data-pos="0"] {
			position: absolute;
			top: -5.8rem;
			right: 0;
			left: 0;
			color: white;
			font-size: $font-size-h3;
		}

		/* All other years on timeline */
		&:not([data-pos="0"]) {
			position: relative;
			margin: ($spacer * 2) 0 ($spacer * 2);
			padding-left: 5.5rem;

			@include media-breakpoint-up(sm) {
				margin: ($spacer * 1) 0 ($spacer * 2);
			}

			@include media-breakpoint-up(md) {
				margin: ($spacer * 4) 0 ($spacer * 3);
			}

			&:before {
				@extend %timeline-point;
				top: 50%;
				margin-top: -5px;
				margin-left: -5px;
				background: #ffffff;
				border: 2px solid $timeline-path-bg;
			}
		}
	}

	&__path {
		display: block;
		width: 2px;
		height: 100%;
		position: absolute;
		top: 0rem;
		left: 50%;
		margin-left: -1px;
		background: $timeline-path-bg;

		&:after {
			@extend %timeline-point;
			bottom: -9px;
			margin-left: -5px;
			background: #ffffff;
			border: 2px solid $timeline-path-bg;
		}
	}

}

.home__category {
	&:first-child {
		&:before {
			@extend %timeline-point;
			top: -#{$timeline-peak-height};
			height: $timeline-peak-height;
			width: 2px;
			margin-left: -1px;
			background: $timeline-peak-bg;
		}

		&:after {
			@extend %timeline-point;
			top: -49px;
			left: 50%;
			height: $timeline-peak-pip-size;
			width: $timeline-peak-pip-size;
			margin-left: -#{$timeline-peak-pip-size / 2};
			border: 2px solid $timeline-peak-bg;
		}
	}
}
