//
// Additional mixins
// --------------------------------------------------

@function tint($color, $percent:null) {
    @if ($percent != null) {
        @return map-get(map-get($anw-brand-tints, $color), $percent);
    } @else {
        @return map-get(map-get($anw-brand-tints, $color), 100);
    }
}

@mixin truncate($width: null) {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	@if ($width != null) {
		max-width: $width;
	} @else {
		max-width: 100%;
	}
}