@import "../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

$app-min-width:								320px;

$xs-app-width:								100%;
$sm-app-width:								95%;
$xl-app-width:								80%;

$xs-app-content-width:				960px;
$xs-app-content-offset-top:		-7rem;

$sidebar-width:								18rem;



:host {
	display: block;
	min-width: $app-min-width;
}

.app-content,
/deep/ .app-footer {
	position: relative;
	max-width: $xs-app-width;
	margin-left: auto;
	margin-right: auto;

	@include media-breakpoint-up(sm) {
		max-width: $sm-app-width;
	}

	@include media-breakpoint-up(xl) {
		max-width: $xl-app-width;
	}
}

.app-content {
	&--offset {
		/* Pull the main content up into the epic header */
		margin-top: $xs-app-content-offset-top;
	}

	/* Smaller container widths on content pages */
	&:not(&--with-sidebar) {
		max-width: $xs-app-content-width;
	}
}

/* Two column layout on LG breakpoint & up */
@include media-breakpoint-up(lg) {
	.app-content__sidebar {
		.app-content--with-sidebar & {
			min-width: $sidebar-width;
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.app-content__main {
		.app-content--with-sidebar & {
			padding-right: $sidebar-width + ($spacer * 5);
		}
	}
}
