@import "../assets/variables";
@import "node_modules/bootstrap/scss/mixins";

.app-header {
	background: $brand-primary;

	&--epic {
		text-align: center;
	}
}

.app-header:not(.app-header--epic) {
	max-height: 100px;

	.app-header__logo {
		display: none;
	}
}

.header__title {
	color: white;
}

.header__subtitle {
	color: rgba(white, 0.8);
}




@include media-breakpoint-up(xs) {
	.header__logo {
		max-width: 115px;
	}
}

@include media-breakpoint-up(lg) {
	.app__sidebar {
		position: fixed;
		height: 100%;
		width: 300px;
	}

	.app__content {
		padding-left: 300px;
	}

	.header__logo {
		display: block;
		width: 115px;
		height: 115px;
		min-height: 115px;
	}
}

@include media-breakpoint-down(lg) {
	.header {
		padding-bottom: 0 !important;
	}
}