
// Scaffolding extras
// --------------------------------------------------


// Vertical spacing helpers
//
// Create .row-xs-1 .row-sm-1 .row-md-1 ???
// Or add @media's for them

.row--vertical-spacing-xs         { margin: $grid-gutter-width/5 0; }
.row--vertical-spacing-top-xs     { margin-top: $grid-gutter-width/5; }
.row--vertical-spacing-bottom-xs  { margin-bottom: $grid-gutter-width/5; }

.row--vertical-spacing-sm         { margin: $grid-gutter-width/4 0; }
.row--vertical-spacing-top-sm     { margin-top: $grid-gutter-width/4; }
.row--vertical-spacing-bottom-sm  { margin-bottom: $grid-gutter-width/4; }

.row--vertical-spacing-md         { margin: $grid-gutter-width/3 0; }
.row--vertical-spacing-top-md     { margin-top: $grid-gutter-width/3; }
.row--vertical-spacing-bottom-md  { margin-bottom: $grid-gutter-width/3; }

.row--vertical-spacing-lg         { margin: $grid-gutter-width/2 0; }
.row--vertical-spacing-top-lg     { margin-top: $grid-gutter-width/2; }
.row--vertical-spacing-bottom-lg  { margin-bottom: $grid-gutter-width/2; }

.row--vertical-spacing-1         { margin-top: $grid-gutter-width; margin-bottom: $grid-gutter-width; }
.row--vertical-spacing-top-1     { margin-top: $grid-gutter-width*1; }
.row--vertical-spacing-bottom-1  { margin-bottom: $grid-gutter-width*1; }

.row--vertical-spacing-2         { margin-top: $grid-gutter-width*2; margin-bottom: $grid-gutter-width*2; }
.row--vertical-spacing-top-2     { margin-top: $grid-gutter-width*2; }
.row--vertical-spacing-bottom-2  { margin-bottom: $grid-gutter-width*2; }

.row--vertical-spacing-3         { margin-top: $grid-gutter-width*3; margin-bottom: $grid-gutter-width*3; }
.row--vertical-spacing-top-3     { margin-top: $grid-gutter-width*3; }
.row--vertical-spacing-bottom-3  { margin-bottom: $grid-gutter-width*3; }

.row--vertical-spacing-4         { margin-top: $grid-gutter-width*4; margin-bottom: $grid-gutter-width*4; }
.row--vertical-spacing-top-4     { margin-top: $grid-gutter-width*4; }
.row--vertical-spacing-bottom-4  { margin-bottom: $grid-gutter-width*4; }

.row--vertical-spacing-5         { margin-top: $grid-gutter-width*5; margin-bottom: $grid-gutter-width*5; }
.row--vertical-spacing-top-5     { margin-top: $grid-gutter-width*5; }
.row--vertical-spacing-bottom-5  { margin-bottom: $grid-gutter-width*5; }

.row--vertical-spacing-6         { margin-top: $grid-gutter-width*6; margin-bottom: $grid-gutter-width*6; }
.row--vertical-spacing-top-6     { margin-top: $grid-gutter-width*6; }
.row--vertical-spacing-bottom-6  { margin-bottom: $grid-gutter-width*6; }
